In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [2]:
ls

Class 2, July 10 – Visual storytelling on the web.pdf
Data Studio Syllabus - Lede Program - Summer 2019.pdf
NYPD_Complaint_Data_Historic.csv
NYPD_Complaint_Historic_DataDictionary.xlsx
Project 1/
Untitled.ipynb
data-studio-2019-master/
data-studio-2019-master copy/
data-studio-projects/

In [4]:
df = pd.read_csv("NYPD_Complaint_Data_Historic.csv")

In [5]:
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,554829619,05/19/2014,08:30:00,05/20/2014,11:30:00,122.0,05/20/2014,578,HARRASSMENT 2,637.0,...,M,NaN,40.560905,-74.111266,"(40.560905178, -74.111266419)",PATROL BORO STATEN ISLAND,NaN,45-64,WHITE,F
1,219274724,05/19/2014,08:15:00,05/19/2014,14:00:00,67.0,05/20/2014,341,PETIT LARCENY,338.0,...,NaN,NaN,40.646899,-73.920683,"(40.646898754, -73.920682979)",PATROL BORO BKLYN SOUTH,NaN,<18,BLACK,M
2,609429777,05/19/2014,08:00:00,05/19/2014,23:50:00,114.0,05/20/2014,107,BURGLARY,221.0,...,NaN,NaN,40.770199,-73.924771,"(40.770199058, -73.924770963)",PATROL BORO QUEENS NORTH,NaN,25-44,ASIAN / PACIFIC ISLANDER,M
3,981103394,05/19/2014,08:00:00,05/19/2014,08:10:00,112.0,05/20/2014,126,MISCELLANEOUS PENAL LAW,198.0,...,NaN,NaN,40.730596,-73.863409,"(40.730596278, -73.863409224)",PATROL BORO QUEENS NORTH,NaN,45-64,BLACK,F
4,768067271,05/19/2014,06:30:00,05/19/2014,07:00:00,114.0,05/20/2014,578,HARRASSMENT 2,637.0,...,M,NaN,40.761468,-73.902859,"(40.761468108, -73.902858614)",PATROL BORO QUEENS NORTH,NaN,45-64,BLACK,M

In [6]:
df.shape

(6500870, 35)

In [7]:
df.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
ADDR_PCT_CD          float64
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
JURIS_DESC            object
JURISDICTION_CODE    float64
PARKS_NM              object
HADEVELOPT            object
HOUSING_PSA           object
X_COORD_CD           float64
Y_COORD_CD           float64
SUSP_AGE_GROUP        object
SUSP_RACE             object
SUSP_SEX              object
TRANSIT_DISTRICT     float64
Latitude             float64
Longitude            float64
Lat_Lon               object
PATROL_BORO           object
STATION_NAME          object
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
dtype: object

In [10]:
df.PARKS_NM.value_counts()

CENTRAL PARK                               1252
FLUSHING MEADOWS CORONA PARK               1016
CONEY ISLAND BEACH & BOARDWALK              805
RIVERSIDE PARK                              495
PROSPECT PARK                               385
WASHINGTON SQUARE PARK                      367
UNION SQUARE PARK                           359
RANDALL'S ISLAND PARK                       330
MARCUS GARVEY PARK                          318
MACOMBS DAM PARK                            285
CLAREMONT PARK                              273
ST. MARY'S PARK BRONX                       257
CROTONA PARK                                249
SARA D. ROOSEVELT PARK                      230
VAN CORTLANDT PARK                          230
ROCKAWAY BEACH AND BOARDWALK                228
BRYANT PARK                                 218
HIGHBRIDGE PARK MANHATTAN SIDE              216
ST. NICHOLAS PARK                           192
BRONX PARK                                  189
TOMPKINS SQUARE PARK                        182
SUNSET PARK                                 172
BROOKLYN BRIDGE PARK                        171
MULLALY PARK                                170
MORNINGSIDE PARK                            166
MCCARREN PARK                               155
WILLIAMSBRIDGE OVAL                         149
EAST RIVER PARK                             145
FRANZ SIGEL PARK                            139
FOREST PARK                                 138
                                           ...
JOSEPH RODMAN DRAKE PARK                      1
UNNAMED PARK ON MAJOR DEEGAN EXPRESSWAY       1
TRUCE GARDEN                                  1
FISHER POOL                                   1
WALKER PARK                                   1
NEIGHBORS OF VEGA BAJA                        1
MAPES POOL                                    1
MADISON SQUARE GARDEN ASSOCIATION             1
UNNAMED PARK ON 51ST ROAD                     1
FORT HAMILTON TRIANGLE                        1
PLANEVIEW PARK                                1
CHALLENGE PLAYGROUND                          1
WAVE HILL                                     1
FRESHKILLS PARK                               1
LA PLAZA CULTURAL                             1
LOUIS PASTEUR PARK                            1
BRUST PARK                                    1
ADAM CLAYTON POWELL JR. MALLS                 1
PELHAM BAY LITTLE LEAGUE                      1
RODNEY PLAYGROUND SOUTH                       1
TAQWA COMMUNITY FARM                          1
FORDHAM BEDFORD LOT BUSTERS                   1
STRAUS SQUARE                                 1
ABC PLAYGROUND                                1
WORTH SQUARE                                  1
PIERREPONT PLAYGROUND                         1
UNNAMED PARK ON FETHERBED LANE                1
LINCOLN CENTER PLAZA                          1
TUDOR GROVE PLAYGROUND                        1
HENRY M. JACKSON PLAYGROUND                   1
Name: PARKS_NM, Length: 1130, dtype: int64

In [14]:
df.BORO_NM.value_counts()

BROOKLYN         1935028
MANHATTAN        1557920
BRONX            1408361
QUEENS           1282057
STATEN ISLAND     306986
Name: BORO_NM, dtype: int64

In [15]:
df.HADEVELOPT.value_counts()

CASTLE HILL                                    7081
VAN DYKE I                                     5733
MARCY                                          5304
BUTLER                                         4946
LINCOLN                                        4858
GRANT                                          4754
LINDEN                                         4729
DOUGLASS                                       4613
PINK                                           4593
FARRAGUT                                       4465
BRONXDALE                                      4436
BROWNSVILLE                                    4427
SOUNDVIEW                                      4338
BARUCH                                         4268
THROGGS NECK                                   4143
BUSHWICK                                       3947
INGERSOLL                                      3920
POMONOK                                        3904
CYPRESS HILLS                                  3863
RED HOOK WEST                                  3858
TOMPKINS                                       3847
WHITMAN                                        3843
TILDEN                                         3767
SMITH                                          3740
MONROE                                         3619
BOULEVARD                                      3604
MANHATTANVILLE                                 3341
WILLIAMSBURG                                   3317
MITCHEL                                        3280
SUMNER                                         3165
                                               ...
HARRISON AVENUE REHAB (GROUP A)                  50
MIDDLETOWN PLAZA                                 47
PROSPECT PLAZA                                   46
FRANKLIN AVENUE I MHOP                           38
BAYCHESTER                                       31
FRANKLIN AVENUE III CONVENTIONAL                 29
WASHINGTON HEIGHTS REHAB PHASE III               27
LOWER EAST SIDE II                               25
BETANCES VI                                      24
MANHATTANVILLE REHAB (GROUP 2)                   24
GLENMORE PLAZA                                   21
BROWN                                            17
CAREY GARDENS                                    15
ROBINSON                                         14
DE HOSTOS APARTMENTS                             13
TAFT REHABS (REHAB PROGRAM)                      13
WSUR (SITE B) 74 WEST 92ND STREET                12
WASHINGTON HEIGHTS REHAB (GROUPS 1&2)             6
HABER                                             5
FRANKLIN AVENUE II MHOP                           3
STUYVESANT GARDENS II                             3
KINGSBOROUGH 73                                   2
METRO NORTH REHAB                                 2
FULTON                                            2
JEFFERSON                                         1
FOREST HILLS COOP (108TH STREET-62ND DRIVE)       1
FRANKLIN AVENUE III MHOP                          1
BRONXCHESTER                                      1
1010 EAST 178TH STREET                            1
344 EAST 28TH STREET                              1
Name: HADEVELOPT, Length: 279, dtype: int64

In [16]:
df.STATION_NAME.value_counts()

125 STREET                        7427
14 STREET                         4113
34 ST.-PENN STATION               3445
42 ST.-PORT AUTHORITY BUS TERM    3381
116 STREET                        3132
42 ST.-GRAND CENTRAL              2864
42 ST.-TIMES SQUARE               2803
CANAL STREET                      2211
59 ST.-COLUMBUS CIRCLE            1964
UTICA AVE.-CROWN HEIGHTS          1820
86 STREET                         1643
59 STREET                         1542
3 AVENUE-149 STREET               1537
JAY STREET-BOROUGH HALL           1406
96 STREET                         1378
PARSONS/ARCHER-JAMAICA CENTER     1347
NOSTRAND AVENUE                   1343
FORDHAM ROAD                      1332
145 STREET                        1326
23 STREET                         1281
161 ST.-YANKEE STADIUM            1255
34 ST.-HERALD SQ.                 1231
W. 4 STREET                       1191
UNION SQUARE                      1159
STILLWELL AVENUE-CONEY ISLAND     1119
FRANKLIN AVENUE                   1094
168 ST.-WASHINGTON HTS.           1072
14 ST.-UNION SQUARE               1072
KINGSBRIDGE ROAD                  1065
ATLANTIC AVENUE                   1009
                                  ...
AVENUE "X"                          57
104 STREET                          56
BEACH 98 STREET                     55
39 AVENUE                           54
85 ST.-FOREST PKWY.                 52
AVENUE "I"                          47
AVENUE "N"                          44
71 STREET                           44
SENECA AVENUE                       43
FRESH POND ROAD                     42
HUNTERS POINT AVENUE                41
96TH STREET                         40
55 STREET                           40
AVENUE "P"                          35
FOREST AVENUE                       33
21 STREET                           32
DISTRICT 32 OFFICE                  30
DISTRICT 11 OFFICE                  28
BEACH 105 STREET                    26
DISTRICT 3 OFFICE                   25
DISTRICT 2 OFFICE                   24
86TH STREET                         22
DISTRICT 20 OFFICE                  22
72ND STREET                         20
DISTRICT 12 OFFICE                  17
AQUEDUCT-RACETRACK                  17
DISTRICT 30 OFFICE                  16
DISTRICT 34 OFFICE                  12
DISTRICT 23 OFFICE                   6
OFF-SYSTEM                           4
Name: STATION_NAME, Length: 371, dtype: int64

In [19]:
df = df.dropna(subset=['STATION_NAME'])

In [25]:
df[df.STATION_NAME.str.contains('125')].Latitude.value_counts()

40.804384    4094
40.810773    1302
40.807781    1079
40.815696     222
40.804384     212
40.807781     144
40.810773     142
40.800694      85
40.814850      46
40.815696      18
40.800694      15
40.808750       9
40.812016       8
40.798633       4
40.804695       4
40.811377       3
40.824040       2
40.812016       2
40.804046       2
40.808750       2
40.802032       1
40.800930       1
40.814850       1
40.804112       1
40.799841       1
40.815128       1
40.804258       1
40.803706       1
40.815372       1
40.767869       1
40.808456       1
40.805846       1
40.817017       1
40.818811       1
40.810950       1
40.808374       1
40.798633       1
40.807877       1
40.807670       1
40.678681       1
40.817125       1
40.794817       1
40.805066       1
40.810551       1
40.811451       1
Name: Latitude, dtype: int64

In [26]:
df[df.STATION_NAME.str.contains('125')].Longitude.value_counts()

-73.937422    4094
-73.952592    1302
-73.945485    1079
-73.958293     222
-73.937422     212
-73.945485     144
-73.952592     142
-73.941109      85
-73.956682      46
-73.958293      18
-73.941109      15
-73.952586       9
-73.951507       8
-73.938158       4
-73.941620       4
-73.954011       3
-73.951507       2
-73.952586       2
-73.936620       2
-73.944760       2
-73.936801       1
-73.948010       1
-73.937914       1
-73.956682       1
-73.824272       1
-73.952103       1
-73.946902       1
-73.944408       1
-73.958701       1
-73.958025       1
-73.941098       1
-73.949683       1
-73.943155       1
-73.952765       1
-73.964077       1
-73.945402       1
-73.946886       1
-73.943174       1
-73.959495       1
-73.956025       1
-73.942410       1
-73.939036       1
-73.941620       1
-73.944997       1
-73.937100       1
Name: Longitude, dtype: int64

In [27]:
df.TRANSIT_DISTRICT.value_counts()

4.0     25247
2.0     17356
3.0     14098
1.0     13654
20.0    12888
33.0    12755
12.0    10851
32.0     9729
11.0     9542
30.0     9214
34.0     6349
23.0     2427
Name: TRANSIT_DISTRICT, dtype: int64

In [28]:
df.PD_DESC.value_counts()

FORGERY,ETC.,UNCLASSIFIED-FELO                                  11595
ASSAULT 3                                                       10479
LARCENY,PETIT FROM OPEN AREAS,                                   9485
WEAPONS, POSSESSION, ETC                                         8632
LARCENY,GRAND FROM PERSON,UNCL                                   6692
RESISTING ARREST                                                 6297
CRIMINAL MISCHIEF 4TH, GRAFFIT                                   5761
SEXUAL ABUSE 3,2                                                 5354
HARASSMENT,SUBD 1,CIVILIAN                                       4814
TAMPERING 1,CRIMINAL                                             4711
CONTROLLED SUBSTANCE, POSSESSI                                   4388
UNAUTH. SALE OF TRANS. SERVICE                                   3965
HARASSMENT,SUBD 3,4,5                                            3420
WEAPONS POSSESSION 3                                             3356
LEWDNESS,PUBLIC                                                  3065
ROBBERY,PUBLIC PLACE INSIDE                                      2926
ROBBERY,OPEN AREA UNCLASSIFIED                                   2881
LARCENY,GRAND FROM PERSON,PICK                                   2842
LARCENY,GRAND FROM PERSON,LUSH WORKER(SLEEPING/UNCON VICTIM)     2794
MARIJUANA, POSSESSION                                            2214
LARCENY,PETIT FROM BUILDING,UN                                   2197
ASSAULT 2,1,UNCLASSIFIED                                         2118
IMPERSONATION 2, PUBLIC SERVAN                                   2076
LARCENY,GRAND FROM OPEN AREAS, UNATTENDED                        1743
ROBBERY,PERSONAL ELECTRONIC DEVICE                               1657
LARCENY,GRAND FROM PERSON, BAG OPEN/DIP                          1640
PUBLIC ADMINISTATION,UNCLASS M                                   1576
LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC DEVICE(SNATCH)     1531
CRIMINAL MIS 2 & 3                                               1305
STOLEN PROPERTY 3,POSSESSION                                     1282
                                                                ...
SALE SCHOOL GROUNDS 4                                               1
ROBBERY,BODEGA/CONVENIENCE STORE                                    1
TRAFFIC,UNCLASSIFIED MISDEMEAN                                      1
PERJURY 2,1,ETC                                                     1
SOLICITATION 4, CRIMINAL                                            1
ABSCONDING FROM WORK RELEASE 2                                      1
GENERAL BUSINESS LAW / UNCLASSIFIED                                 1
COERCION 2                                                          1
CHILD,ALCOHOL SALE TO                                               1
HOMICIDE,NEGLIGENT,UNCLASSIFIE                                      1
TERRORISM PROVIDE SUPPORT                                           1
LOITERING,GAMBLING,OTHER                                            1
HEALTHCARE/RENT.REG.                                                1
ARSON, MOTOR VEHICLE 1 2 3 & 4                                      1
BURGLARY,RESIDENCE,NIGHT                                            1
RAPE 2                                                              1
LOITERING,UNCLASSIFIED                                              1
THEFT OF SERVICES- CABLE TV SE                                      1
SMOKING TRANSPORTATION FACILIT                                      1
HEALTH CODE,UNCLASSIFIED MISDE                                      1
CHECK,BAD                                                           1
ROBBERY,DELIVERY PERSON                                             1
POSTING ADVERTISEMENTS                                              1
NY STATE LAWS,UNCLASSIFIED FEL                                      1
CUSTODIAL INTERFERENCE 1                                            1
INCOMPETENT PERSON,RECKLESSY ENDANGERING                            1
MISCHIEF 1,CRIMINAL,EXPLOSIVE                                       1
LARCENY,PETIT BY CREDIT CARD U                                      1
GAMBLING 1,PROMOTING,POLICY                                         1
RECORDS,FALSIFY-TAMPER                                              1
Name: PD_DESC, Length: 246, dtype: int64